<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
            <!-- Page Header-->
            <header class="masthead" style="background-image: url('assets/img/appointment-bg.jpg')">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>Examiner</h1>
                                <span class="subheading">Review driver list</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Page Content-->
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-1 mb-5"></div>
                    <div class="col-md-10 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">Drivers with appointment</h2>
                                <hr>
                                <div class="mb-3 space-box">
                                    <label for="loginUserName" class="form-label">Filter by:</label>
                                    <button id="filterAll" type="button"
                                        class="btn btn-time-selected align-bottom me-5 ">All</button>
                                    <button id="filterG2" type="button"
                                        class="btn btn-time align-bottom me-5">G2</button>
                                    <button id="filterG" type="button" class="btn btn-time align-bottom me-5">G</button>
                                </div>
                                <div class="container" style="padding:5px;">
                                    <div class="row gx-4"
                                        style="background-color:#ccc;font-size:.8em; font-weight:bold;">
                                        <div class="col-md-2 my-2">FirstName</div>
                                        <div class="col-md-2 my-2">LastName</div>
                                        <div class="col-md-2 my-2">PlateNo</div>
                                        <div class="col-md-3 my-2">Appointment</div>
                                        <div class="col-md-1 my-2 p-0">Type</div>
                                        <div class="col-md-2 my-2">Edit</div>
                                    </div>
                                </div>
                                <div id="driverList" class="container" style="padding:5px;font-size:.7em;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 mb-5"></div>
                </div>
                <div id="commentDialog" title="Comment the driver">
                    <form id="commentForm" action="/examiner/comment" method="POST">
                        <div class="container" id="commentBox" style="font-size:.8em;">
                        </div>
                    </form>
                </div>
            </div>
            <!-- Footer-->
            <%- include('layouts/footer'); -%>
                <%- include('layouts/scripts'); -%>
                    <script src="/js/examiner.js"></script>
    </body>

</html>